.cell {
  background-color: #3ee;
  border: #33e 1px solid;
}

.game {
  background-color: #ffeecf;
}

.board {
  background-color: blueviolet;
  display: grid;
  justify-content: space-between;
  margin: auto;
}

.cell[data-player="X"] {
  background-color: #f22;
}
