.cell {
  background-color: #3ee;
  border: #33e 1px solid;
}

.game {
  background-color: #ffeecf;
  padding: 2em;
}

.board {
  display: grid;
  justify-content: space-between;
  margin: auto;
  user-select: none;
}

.cell[data-player="X"] {
  background-color: #f22;
}

.cell[data-player="O"] {
  background-color: #2f2;
}

.victory {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  font-size: 4em;
  background-color: #e55;
  transform: translate(-50%, -50%);
  padding: 1em;
  margin: auto;
  text-align: center;
  pointer-events: none;
}
