.cell {
  background-color: #3ee;
  border: #33e 1px solid;
}

.game {
  background-color: #ffeecf;
}

.board {
  display: grid;
  justify-content: center;
  user-select: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.cell[data-player="X"] {
  background-color: #f22;
  transition: ease-in 0.5s;
  border-radius: 20%;
  content: "X";
}

.cell[data-player="O"] {
  background-color: #2f2;
  border-radius: 50%;
  transition: ease-in 0.5s;
}

.message {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  font-size: 4em;
  transform: translate(-50%, -50%);
  padding: 1em;
  margin: auto;
  text-align: center;
  user-select: none;
}

.not-empty {
  background-color: #5e5;
}

.victory {
  background-color: #e55;
}
